<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/fullpage.min.css" />
    <link rel="stylesheet" href="assets/css/themes/lux.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Baily.at x Sebos.ch</title>
  </head>
  <body>
    <!-- TODO Second Color zu Schwarz aussuchen, Blau oder Rot / Orange -->
    <div id="fullpage">
      <div class="section s1">
        <h1 class="text-center">Hello, I'm Sebastian<br />Student, photographer and developer</h1>
        <hr />
        <div id="links">
          <div class="row text-center justify-content-center">
            <div class="col-2" v-for="(el, i) of links">
              <a :href="el[1]" target="_blank">
                <!-- TODO Wenn ich drüber hover effekt hinzufügen. Logo Größer machen und evtl 360 grad Spin -->
                <i :class="[{'fab fa-5x': true}, getLinkAsClass(i)]" :href="'el[1]'"> </i>
              </a>
            </div>
          </div>
        </div>
        <div style="text-align: center">
          <a class="cstmBorder" href="#2">View my projects</a>
          <!-- TODO Hover färbt sich anders um -->
        </div>
      </div>
      <div class="section s2">
        <h1 class="text-center">About</h1>
        <hr />
      </div>
      <div class="section s3">
        <h1 class="text-center">Projects</h1>
        <hr />
      </div>
      <div class="section s4">
        <h1 class="text-center">Gallery</h1>
        <hr />
        <h3 class="text-center">Subtitle idk</h3>
        <!-- TODO https://freefrontend.com/bootstrap-galleries/ rework -->
        <div id="cards">
          <div class="row justify-content-center mx-5">
            <div class="col-2 my-2" v-for="el of cards">
              <div class="card" style="width: 18rem">
                <img class="card-img-top" :src="el[1]" onclick="img_box(this)" alt="Card image cap" />
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/library/fullpage.min.js"></script>
    <script src="assets/js/library/vue.min.js"></script>
    <script src="assets/js/library/noise.min.js"></script>
    <script src="assets/js/library/img_box.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/vue.js"></script>
  </body>
</html>
